.boxlink {
     color: white;
      background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 31%, rgba(0,212,255,1) 100%);
      border:2px solid #ffffff;
      padding: 10px;
      text-align: center;
      font-size: larger;
  }